.send-form {
  position: relative;
  display: flex;
  padding: 20px 30px;
  background-color: #f2f3f7;
}

.send-form__field {
  resize: none;
  overflow: auto;
  border: none;
  border-radius: 5px;
  padding: 15px 60px 15px 30px;
  width: 100%;
  font-size: 18px;
  font-family: inherit;
}

.send-form__button {
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  padding: 10px;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;

  &:before {
    content: '';
    display: block;
    border-top: 10px solid #858585;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    transform: rotate(-90deg);
  }

  //color: #FFFFFF;
  //text-transform: uppercase;
  //text-decoration: none;
  //
  //padding: 20px;
  //display: inline-block;
  //
  //width: 20%;
}