.info-bar {
  flex-shrink: 0;
  padding: 0 15px;
  display: flex;
  align-items: center;
  background: #0071bc;
  color: #FFFFFF;
  height: 60px;
  width: 100%;
}

.info-bar__menu {
  position: relative;
  margin-right: 20px;
  width: 25px;
  height: 20px;

  &:before, &:after, span {
    content: '';
    position: absolute;
    left: 0;
    width: 25px;
    height: 2px;
    background-color: #FFFFFF;
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }

  span {
    top: 50%;
    transform: translateY(-50%);
  }
}

.info-bar__main {
  flex-grow: 1;
  text-align: center;
}

.info-bar__room {
  margin: 0;
  font-size: 20px;
  font-weight: normal;
}

.info-bar__people {
  margin: 0;
  color: #FFFFFF;
  font-size: 14px;
}

.info-bar__close {
  position: relative;
  margin-left: 40px;
  width: 25px;
  height: 25px;

  &:before, &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 27px;
    height: 2px;
    background-color: #FFFFFF;
  }

  &:before {
    transform: rotate(-45deg) translate(-8px, -10px);
  }

  &:after {
    transform: rotate(45deg) translate(-10px, 8px);
  }
}

@media (min-width: 640px) {
  .info-bar {
    background: #f2f3f7;
    color: #353535;
  }

  .info-bar__menu {
    display: none;
  }

  .info-bar__people {
    color: #858585;
  }

  .info-bar__close {
    &:before, &:after {
      background-color: #0071bc;
    }
  }
}

@media (min-width: 992px) {
  .info-bar {
    padding: 0 30px;
  }
}

@media (min-width: 1200px) {

}
