.messages {
  flex: auto;
  border-top: 1px solid #D3D9DE;
  border-bottom: 1px solid #D3D9DE;
  padding: 20px 0 0 0;
  overflow: auto;

  .avatar {
    width: 50px;
    height: 50px
  }
}
