.chat {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #353535;
  background-color: #242424;
}

.chat__container {
  width: 100%;
  height: 100%;
  background: #FFFFFF;
}

@media (min-width: 640px) {
  .chat__container {
    display: flex;
  }
}

@media (min-width: 992px) {
  .chat__container {
    height: 75%;
  }
}

@media (min-width: 1200px) {
  .chat__container {
    max-width: 1200px;
    margin: 0 auto;
  }
}